# Premier League Analysis

### The English Premier League is the top level of competition in English football. It is widely regarded as one of the most competitive and is one of the most watched sports competitions in the world.

I found a dataset which contains these data for each season of the premier league:

- Season
- Date
- Referee
- Home teams and away teams
- Results at full time and at half-time
- Number of goals scored by the home team at full time and that at half-time
- Number of goals scored by the away team at full time and that at half-time
- Number of: shots, shots on target, corner kicks, fouls committed, yellow cards received, and red cards received. Each of these pieces of information is available for both the home team and the away team.

I have downloaded the data for 10 seasons from 2011/2012 till 2020/2021 and I plan on making my project with this data.

Data Source: https://www.football-data.co.uk/englandm.php

#### First let's start by looking at the data for 2020/2021 season

In [2]:
import pandas as pd
import numpy as np

In [3]:
season2020_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2020\\E0.csv')

In [4]:
season2020_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

#### In my analysis I will not be looking into betting odds so I will start by dropping all the betting columns

In [5]:
season2020_df.drop(season2020_df.iloc[:, 24:], inplace = True, axis = 1)

In [6]:
season2020_df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,2,6,12,12,2,3,2,2,0,0
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,3,5,14,11,7,3,2,1,0,0
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,6,3,9,6,9,0,1,0,0,0
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,3,2,13,7,8,7,2,2,0,0
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,1,0,...,5,4,10,8,14,1,2,2,0,0
376,E0,23/05/2021,16:00,Man City,Everton,5,0,H,2,0,...,11,3,8,10,7,5,2,2,0,0
377,E0,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,1,0,...,3,3,11,1,8,9,3,1,0,0
378,E0,23/05/2021,16:00,West Ham,Southampton,3,0,H,2,0,...,7,5,5,9,2,3,0,3,0,0
379,E0,23/05/2021,16:00,Wolves,Man United,1,2,A,1,2,...,4,4,14,3,6,2,4,1,0,0

The "Div" column has no importance in my analysis so I will drop this column

In [7]:
season2020_df.drop(['Div'], inplace = True, axis = 1)

I will add a "Year" column to differentiate between different seasons

In [8]:
season2020_df['Year'] = '2020'

In [9]:
season2020_df.head()

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Year
0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,A,...,6,12,12,2,3,2,2,0,0,2020
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,H,...,5,14,11,7,3,2,1,0,0,2020
2,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,H,...,3,9,6,9,0,1,0,0,0,2020
3,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,D,...,2,13,7,8,7,2,2,0,0,2020
4,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,D,...,7,12,9,2,5,1,1,0,0,2020

### From the cell below we can see that there is no null values in our data

In [10]:
season2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    object
 1   Time      380 non-null    object
 2   HomeTeam  380 non-null    object
 3   AwayTeam  380 non-null    object
 4   FTHG      380 non-null    int64
 5   FTAG      380 non-null    int64
 6   FTR       380 non-null    object
 7   HTHG      380 non-null    int64
 8   HTAG      380 non-null    int64
 9   HTR       380 non-null    object
 10  Referee   380 non-null    object
 11  HS        380 non-null    int64
 12  AS        380 non-null    int64
 13  HST       380 non-null    int64
 14  AST       380 non-null    int64
 15  HF        380 non-null    int64
 16  AF        380 non-null    int64
 17  HC        380 non-null    int64
 18  AC        380 non-null    int64
 19  HY        380 non-null    int64
 20  AY        380 non-null    int64
 21  HR        380 non-null    int64
 22  AR        380 non-null    int64
 23  Year      380 non-null    object
dtypes: int64(16), object(8)
memory usage: 71.4+ KB

In [11]:
season2020_df.describe()

,FTHG,FTAG,HTHG,HTAG,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
count,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000,380.000000
mean,1.352632,1.342105,0.665789,0.605263,12.815789,11.363158,4.544737,4.084211,11.223684,10.550000,5.557895,4.631579,1.423684,1.447368,0.050000,0.071053
std,1.320378,1.257722,0.825956,0.806945,5.490482,4.880602,2.594005,2.258555,3.438102,3.474768,3.039635,2.667315,1.107407,1.159960,0.218232,0.286373
min,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,8.000000,3.000000,3.000000,9.000000,8.000000,3.000000,3.000000,1.000000,1.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,12.000000,11.000000,4.000000,4.000000,11.000000,10.000000,5.000000,4.000000,1.000000,1.000000,0.000000,0.000000
75%,2.000000,2.000000,1.000000,1.000000,16.000000,14.250000,6.000000,5.250000,13.000000,13.000000,7.000000,6.000000,2.000000,2.000000,0.000000,0.000000
max,9.000000,7.000000,4.000000,4.000000,29.000000,28.000000,14.000000,14.000000,23.000000,21.000000,16.000000,13.000000,6.000000,5.000000,1.000000,2.000000

In [12]:
season2020_df.Date = season2020_df.Date.astype('datetime64[ns]')
season2020_df.Time = season2020_df.Time.astype('datetime64[ns]')

In [13]:
season2020_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      380 non-null    datetime64[ns]
 1   Time      380 non-null    datetime64[ns]
 2   HomeTeam  380 non-null    object
 3   AwayTeam  380 non-null    object
 4   FTHG      380 non-null    int64
 5   FTAG      380 non-null    int64
 6   FTR       380 non-null    object
 7   HTHG      380 non-null    int64
 8   HTAG      380 non-null    int64
 9   HTR       380 non-null    object
 10  Referee   380 non-null    object
 11  HS        380 non-null    int64
 12  AS        380 non-null    int64
 13  HST       380 non-null    int64
 14  AST       380 non-null    int64
 15  HF        380 non-null    int64
 16  AF        380 non-null    int64
 17  HC        380 non-null    int64
 18  AC        380 non-null    int64
 19  HY        380 non-null    int64
 20  AY        380 non-null    int64
 21  HR        380 non-null    int64
 22  AR        380 non-null    int64
 23  Year      380 non-null    datetime64[ns]
dtypes: datetime64[ns](3), int64(16), object(5)
memory usage: 71.4+ KB

In [14]:
teams2020 = season2020_df.HomeTeam.unique()
teams2020.sort()
teams2020

array(['Arsenal', 'Aston Villa', 'Brighton', 'Burnley', 'Chelsea',
       'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester',
       'Liverpool', 'Man City', 'Man United', 'Newcastle',
       'Sheffield United', 'Southampton', 'Tottenham', 'West Brom',
       'West Ham', 'Wolves'], dtype=object)

### Now I will create a function to calculate the end of season table

Function inputs: Name of teams, season dataframe, year

Function output: DataFrame containing the end of season table

In [15]:
def Calculate_Table(teams, seasonDF, year):
    table = {}
    for team in teams:
        numberOfWins = seasonDF[((seasonDF.HomeTeam == team) & (seasonDF.FTR == 'H')) |
              ((seasonDF.AwayTeam == team) & (seasonDF.FTR == 'A'))].Date.count()
        
        numberOfDraws = seasonDF[((seasonDF.HomeTeam == team) | (seasonDF.AwayTeam == team)) &
              (seasonDF.FTR == 'D')].Date.count()
        
        teamTotalPoints = numberOfWins * 3 + numberOfDraws
        
        table[team] = teamTotalPoints
        
        tableDict = dict(sorted(table.items(), key=lambda item: item[1], reverse=True))
        
        tableDf = pd.DataFrame(list(tableDict.items()),columns = ['Team','Points'])
        tableDf['Position'] = (tableDf.index +1)
        tableDf['Year'] = year
        
    return tableDf

In [16]:
table2020 = Calculate_Table(teams2020, season2020_df, '2020')

In [17]:
table2020

                Team  Points  Position  Year
0           Man City      86         1  2020
1         Man United      74         2  2020
2          Liverpool      69         3  2020
3            Chelsea      67         4  2020
4          Leicester      66         5  2020
5           West Ham      65         6  2020
6          Tottenham      62         7  2020
7            Arsenal      61         8  2020
8            Everton      59         9  2020
9              Leeds      59        10  2020
10       Aston Villa      55        11  2020
11         Newcastle      45        12  2020
12            Wolves      45        13  2020
13    Crystal Palace      44        14  2020
14       Southampton      43        15  2020
15          Brighton      41        16  2020
16           Burnley      39        17  2020
17            Fulham      28        18  2020
18         West Brom      26        19  2020
19  Sheffield United      23        20  2020

### Now I will create a function to calculate the points of each team after each match

Function inputs: Name of teams, season dataframe, year

Function output: DataFrame containing the points of each team after each match

In [119]:
def Calculate_Match_Points(teams, seasonDF, year):
    teamNumber = 1
    for team in teams:
        itr = 0
        totalPoints = 0
        scores = {}
        
        for index, row in seasonDF.iterrows():
            if row["HomeTeam"] == team or row["AwayTeam"] == team:
                itr += 1
                if (row["HomeTeam"] == team and row["FTR"] == 'H') or (row["AwayTeam"] == team and row["FTR"] == 'A') :
                    totalPoints += 3
                    scores['match ' + str(itr)] = totalPoints

                elif (row["HomeTeam"] == team and row["FTR"] == 'A') or (row["AwayTeam"] == team and row["FTR"] == 'H') :
                    scores['match ' + str(itr)] = totalPoints

                elif (row["HomeTeam"] == team and row["FTR"] == 'D') or (row["AwayTeam"] == team and row["FTR"] == 'D') :
                    totalPoints += 1
                    scores['match ' + str(itr)] = totalPoints
        
        teamDf = pd.DataFrame(list(scores.items()),columns = ['MatchNumber', team])
        if teamNumber == 1:
            scoresDf = teamDf
            teamNumber += 1
        else:
            scoresDf = scoresDf.merge(teamDf, on='MatchNumber', how='left')
            
    scoresDf['Year'] = year
    return scoresDf

In [122]:
scores = Calculate_Match_Points(teams2020,season2020_df, 2020)

In [123]:
scores

,MatchNumber,Arsenal,Aston Villa,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Fulham,Leeds,...,Man City,Man United,Newcastle,Sheffield United,Southampton,Tottenham,West Brom,West Ham,Wolves,Year
0,match 1,3,3,0,0,3,3,3,0,0,...,3,0,3,0,0,0,0,0,3,2020
1,match 2,6,6,3,0,3,6,6,0,3,...,3,3,3,0,0,3,0,0,3,2020
2,match 3,6,9,3,0,4,6,9,0,6,...,4,3,4,0,3,4,1,3,3,2020
3,match 4,9,12,3,1,7,6,12,0,7,...,7,6,7,0,6,7,1,6,6,2020
4,match 5,9,12,4,1,8,7,13,1,7,...,8,7,7,1,7,8,2,7,9,2020
5,match 6,9,12,5,1,9,10,13,1,10,...,11,7,8,1,10,11,3,8,10,2020
6,match 7,12,15,5,2,12,10,13,4,10,...,12,10,11,1,13,14,3,8,13,2020
7,match 8,12,15,6,5,15,13,13,4,10,...,12,13,11,1,16,17,3,11,13,2020
8,match 9,13,15,9,5,18,13,16,4,11,...,15,16,11,1,17,20,3,14,14,2020
9,match 10,13,18,10,6,19,13,16,7,14,...,18,19,14,1,17,21,6,17,17,2020
10,match 11,13,19,10,9,22,16,17,7,14,...,19,20,17,1,20,24,6,17,17,2020
11,match 12,13,22,10,10,22,17,20,8,14,...,20,23,17,1,23,25,6,20,17,2020
12,match 13,14,25,11,13,22,18,23,9,17,...,23,26,18,1,24,25,7,21,20,2020
13,match 14,14,26,12,13,25,18,26,10,17,...,26,27,18,2,24,25,7,21,20,2020
14,match 15,17,26,13,16,25,18,29,11,20,...,29,30,19,2,25,26,8,22,21,2020
15,match 16,20,26,13,16,26,19,29,12,23,...,32,33,19,2,26,29,8,23,21,2020
16,match 17,23,29,14,16,26,22,32,12,23,...,35,36,19,2,29,30,8,26,22,2020
17,match 18,24,29,14,19,29,23,33,12,23,...,38,37,19,5,29,33,11,29,22,2020
18,match 19,27,32,17,22,29,23,33,13,26,...,41,40,19,5,29,33,11,32,22,2020
19,match 20,30,32,18,22,30,23,36,14,29,...,44,40,19,8,29,33,11,35,23,2020
20,match 21,31,35,21,22,33,26,37,14,29,...,47,41,22,8,29,33,12,35,23,2020
21,match 22,31,36,24,23,36,29,37,15,32,...,50,44,22,11,29,36,12,38,26,2020
22,match 23,31,36,25,26,39,29,37,18,32,...,53,45,25,11,29,36,12,39,27,2020
23,match 24,34,39,26,27,42,29,40,19,32,...,56,46,25,11,30,36,13,42,30,2020
24,match 25,34,39,26,28,43,32,43,22,35,...,59,49,25,11,30,39,14,45,33,2020
25,match 26,37,40,26,28,44,33,46,23,35,...,62,50,26,11,30,42,17,45,34,2020
26,match 27,38,41,26,29,47,34,46,23,35,...,65,51,27,14,33,45,17,48,34,2020
27,match 28,41,41,29,30,50,34,46,26,36,...,65,54,28,14,33,45,18,48,35,2020
28,match 29,42,44,32,33,51,37,47,26,39,...,68,57,28,14,33,48,18,49,35,2020
29,match 30,42,44,32,33,51,38,48,26,42,...,71,60,29,14,36,49,21,52,35,2020
30,match 31,45,44,33,33,54,38,49,26,45,...,74,63,32,14,36,49,24,55,38,2020
31,match 32,46,45,34,33,55,38,52,26,46,...,74,66,35,14,36,50,24,55,41,2020
32,match 33,46,48,34,36,58,38,52,27,47,...,77,67,36,17,37,53,25,55,41,2020
33,match 34,49,48,37,36,61,41,55,27,47,...,80,70,36,17,37,56,26,58,42,2020
34,match 35,52,49,37,39,64,41,56,27,50,...,80,70,39,17,40,56,26,58,45,2020
35,match 36,55,49,38,39,64,44,56,27,53,...,83,70,39,20,43,59,26,59,45,2020
36,match 37,58,52,41,39,67,44,59,28,56,...,83,71,42,20,43,59,26,62,45,2020
37,match 38,61,55,41,39,67,44,59,28,59,...,86,74,45,23,43,62,26,65,45,2020

# Working With All 10 Seasons

### After working with 1 dataset, I have made the first assumptions and made some functions that I will use during my work on the 10 datasets together

In [98]:
season2020_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2020\\E0.csv')
season2019_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2019\\E0.csv')
season2018_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2018\\E0.csv')
season2017_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2017\\E0.csv')
season2016_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2016\\E0.csv')
season2015_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2015\\E0.csv')
season2014_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2014\\E0.csv')
season2013_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2013\\E0.csv')
season2012_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2012\\E0.csv')
season2011_df = pd.read_csv('C:\\Users\\alaa_atef\\Desktop\\Stuff\\Data Science\\Datasets\\EPL Dataset\\2011\\E0.csv')

In [100]:
season2014_df.drop(season2014_df.tail(1).index,inplace=True)

In [101]:
seasonsList = [season2020_df, season2019_df, season2018_df, season2017_df, season2016_df, season2015_df, season2014_df,
              season2013_df, season2012_df, season2011_df]

I've noticed that some of the seasons files doesn't contain a "Time" column, so I will add that column with a string saying "Not Available"

### Now I will create a function to drop the betting columns from all 10 datasets and add a "Year" column in each dataset and add "Time" column in the datasets which doesn't have the "Time" column

Function inputs: List of Datasets

Function output: None

In [102]:
def CleanData(seasonsList):
    currentYear = 2020
    for season in seasonsList:
        if currentYear < 2019:
            season.insert(2,"Time","Not Available")
        season.drop(season.iloc[:, 24:], inplace = True, axis = 1)
        season.drop(['Div'], inplace = True, axis = 1)
        season['Year'] = str(currentYear)
        currentYear -= 1
        season.Date = season.Date.astype('datetime64[ns]')

In [103]:
CleanData(seasonsList)

### Now I will create a function to group the matches for all 10 cleaned datasets

Function inputs: List of Datasets

Function output: DataFrame containing the matches for all 10 cleaned datasets

In [104]:
def GroupMatches(seasonsList):
    firstSeason = True
    
    for season in seasonsList:        
        if firstSeason == True:
            totalmatchesDf = season
            firstSeason = False            
        else:
            totalmatchesDf = totalmatchesDf.append(season, ignore_index = True)
            
    return totalmatchesDf

In [105]:
totalmatchesDf = GroupMatches(seasonsList)

In [108]:
totalmatchesDf

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Year
0,2020-12-09,12:30,Fulham,Arsenal,0.0,3.0,A,0.0,1.0,A,...,6.0,12.0,12.0,2.0,3.0,2.0,2.0,0.0,0.0,2020
1,2020-12-09,15:00,Crystal Palace,Southampton,1.0,0.0,H,1.0,0.0,H,...,5.0,14.0,11.0,7.0,3.0,2.0,1.0,0.0,0.0,2020
2,2020-12-09,17:30,Liverpool,Leeds,4.0,3.0,H,3.0,2.0,H,...,3.0,9.0,6.0,9.0,0.0,1.0,0.0,0.0,0.0,2020
3,2020-12-09,20:00,West Ham,Newcastle,0.0,2.0,A,0.0,0.0,D,...,2.0,13.0,7.0,8.0,7.0,2.0,2.0,0.0,0.0,2020
4,2020-09-13,14:00,West Brom,Leicester,0.0,3.0,A,0.0,0.0,D,...,7.0,12.0,9.0,2.0,5.0,1.0,1.0,0.0,0.0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,2012-05-13,Not Available,Sunderland,Man United,0.0,1.0,A,0.0,1.0,A,...,9.0,14.0,11.0,1.0,9.0,3.0,3.0,0.0,0.0,2011
3796,2012-05-13,Not Available,Swansea,Liverpool,1.0,0.0,H,0.0,0.0,D,...,9.0,5.0,5.0,6.0,5.0,1.0,1.0,0.0,0.0,2011
3797,2012-05-13,Not Available,Tottenham,Fulham,2.0,0.0,H,1.0,0.0,H,...,7.0,8.0,12.0,9.0,3.0,0.0,2.0,0.0,0.0,2011
3798,2012-05-13,Not Available,West Brom,Arsenal,2.0,3.0,A,2.0,2.0,D,...,8.0,12.0,10.0,9.0,5.0,0.0,1.0,0.0,0.0,2011
3799,2012-05-13,Not Available,Wigan,Wolves,3.0,2.0,H,2.0,1.0,H,...,7.0,15.0,9.0,9.0,2.0,1.0,2.0,0.0,0.0,2011

### Now I will create a function to group the names of teams for each season for all 10 cleaned datasets

Function inputs: List of Datasets

Function output: DataFrame containing the names of teams for each season for all 10 cleaned datasets

In [112]:
def CalculateSeasonsTeams(seasonsList):
    teamsOfAllSeasons = []
    for season in seasonsList:
        nameOFTeams = season.HomeTeam.unique()
        nameOFTeams.sort()
        teamsOfAllSeasons.append(nameOFTeams)
    return teamsOfAllSeasons

In [113]:
teamsOfAllSeasons = CalculateSeasonsTeams(seasonsList)

In [114]:
teamsOfAllSeasons

[array(['Arsenal', 'Aston Villa', 'Brighton', 'Burnley', 'Chelsea',
        'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester',
        'Liverpool', 'Man City', 'Man United', 'Newcastle',
        'Sheffield United', 'Southampton', 'Tottenham', 'West Brom',
        'West Ham', 'Wolves'], dtype=object),
 array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Brighton', 'Burnley',
        'Chelsea', 'Crystal Palace', 'Everton', 'Leicester', 'Liverpool',
        'Man City', 'Man United', 'Newcastle', 'Norwich',
        'Sheffield United', 'Southampton', 'Tottenham', 'Watford',
        'West Ham', 'Wolves'], dtype=object),
 array(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff',
        'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield',
        'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle',
        'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves'],
       dtype=object),
 array(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Chelsea',
        'Crystal Palace', 'Everton', 'Huddersfield', 'Leicester',
        'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton',
        'Stoke', 'Swansea', 'Tottenham', 'Watford', 'West Brom',
        'West Ham'], dtype=object),
 array(['Arsenal', 'Bournemouth', 'Burnley', 'Chelsea', 'Crystal Palace',
        'Everton', 'Hull', 'Leicester', 'Liverpool', 'Man City',
        'Man United', 'Middlesbrough', 'Southampton', 'Stoke',
        'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom',
        'West Ham'], dtype=object),
 array(['Arsenal', 'Aston Villa', 'Bournemouth', 'Chelsea',
        'Crystal Palace', 'Everton', 'Leicester', 'Liverpool', 'Man City',
        'Man United', 'Newcastle', 'Norwich', 'Southampton', 'Stoke',
        'Sunderland', 'Swansea', 'Tottenham', 'Watford', 'West Brom',
        'West Ham'], dtype=object),
 array(['Arsenal', 'Aston Villa', 'Burnley', 'Chelsea', 'Crystal Palace',
        'Everton', 'Hull', 'Leicester', 'Liverpool', 'Man City',
        'Man United', 'Newcastle', 'QPR', 'Southampton', 'Stoke',
        'Sunderland', 'Swansea', 'Tottenham', 'West Brom', 'West Ham'],
       dtype=object),
 array(['Arsenal', 'Aston Villa', 'Cardiff', 'Chelsea', 'Crystal Palace',
        'Everton', 'Fulham', 'Hull', 'Liverpool', 'Man City', 'Man United',
        'Newcastle', 'Norwich', 'Southampton', 'Stoke', 'Sunderland',
        'Swansea', 'Tottenham', 'West Brom', 'West Ham'], dtype=object),
 array(['Arsenal', 'Aston Villa', 'Chelsea', 'Everton', 'Fulham',
        'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Norwich',
        'QPR', 'Reading', 'Southampton', 'Stoke', 'Sunderland', 'Swansea',
        'Tottenham', 'West Brom', 'West Ham', 'Wigan'], dtype=object),
 array(['Arsenal', 'Aston Villa', 'Blackburn', 'Bolton', 'Chelsea',
        'Everton', 'Fulham', 'Liverpool', 'Man City', 'Man United',
        'Newcastle', 'Norwich', 'QPR', 'Stoke', 'Sunderland', 'Swansea',
        'Tottenham', 'West Brom', 'Wigan', 'Wolves'], dtype=object)]

### Now I will create a function to group the end-of-year table each season for all 10 cleaned datasets

Function inputs: List of Datasets, List of team names for each season

Function output: DataFrame containing the end-of-year table each season for all 10 cleaned datasets

In [116]:
def GroupEndOFSeasonTables(seasonsList, teamsOfAllSeasons):
    year = 2020
    counter = 0
    for season in seasonsList:
        if counter == 0:
            totalEndOfSeasonTables = Calculate_Table(teamsOfAllSeasons[counter], season, year)
            year -= 1
            counter += 1
        else:
            currentTable = Calculate_Table(teamsOfAllSeasons[counter], season, year)
            year -= 1
            counter += 1
            totalEndOfSeasonTables = totalEndOfSeasonTables.append(currentTable, ignore_index = True)
    return totalEndOfSeasonTables

In [117]:
totalEndOfSeasonTables = GroupEndOFSeasonTables(seasonsList, teamsOfAllSeasons)

In [118]:
totalEndOfSeasonTables

            Team  Points  Position  Year
0       Man City      86         1  2020
1     Man United      74         2  2020
2      Liverpool      69         3  2020
3        Chelsea      67         4  2020
4      Leicester      66         5  2020
..           ...     ...       ...   ...
195  Aston Villa      38        16  2011
196          QPR      37        17  2011
197       Bolton      36        18  2011
198    Blackburn      31        19  2011
199       Wolves      25        20  2011

[200 rows x 4 columns]

### Now I will create a function to group the points after each match for all 10 cleaned datasets

Function inputs: List of Datasets, List of team names for each season

Function output: DataFrame containing the points after each match for all 10 cleaned datasets

In [144]:
def GroupMatchPointsOfEverySeason(seasonsList, teamsOfAllSeasons):
    year = 2020
    counter = 0
    for season in seasonsList:
        if counter == 0:
            totalMatchPoints = Calculate_Match_Points(teamsOfAllSeasons[counter], season, year)
            year -= 1
            counter += 1
        else:
            currentPoints = Calculate_Match_Points(teamsOfAllSeasons[counter], season, year)
            year -= 1
            counter += 1
            totalMatchPoints = totalMatchPoints.append(currentPoints, ignore_index = True)
    return totalMatchPoints

In [145]:
totalMatchPointsOfEverySeason = GroupMatchPointsOfEverySeason(seasonsList, teamsOfAllSeasons)

In [146]:
totalMatchPointsOfEverySeason

,MatchNumber,Arsenal,Aston Villa,Brighton,Burnley,Chelsea,Crystal Palace,Everton,Fulham,Leeds,...,Stoke,Swansea,Hull,Middlesbrough,Sunderland,QPR,Reading,Wigan,Blackburn,Bolton
0,match 1,3,3.0,0.0,0.0,3,3.0,3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,match 2,6,6.0,3.0,0.0,3,6.0,6,0.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,match 3,6,9.0,3.0,0.0,4,6.0,9,0.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,match 4,9,12.0,3.0,1.0,7,6.0,12,0.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,match 5,9,12.0,4.0,1.0,8,7.0,13,1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,match 34,64,36.0,NaN,NaN,58,NaN,48,46.0,NaN,...,42.0,42.0,NaN,NaN,43.0,31.0,NaN,34.0,28.0,33.0
376,match 35,65,36.0,NaN,NaN,61,NaN,51,46.0,NaN,...,43.0,43.0,NaN,NaN,44.0,34.0,NaN,34.0,31.0,34.0
377,match 36,66,37.0,NaN,NaN,61,NaN,52,49.0,NaN,...,44.0,44.0,NaN,NaN,45.0,34.0,NaN,37.0,31.0,34.0
378,match 37,67,38.0,NaN,NaN,61,NaN,53,52.0,NaN,...,44.0,44.0,NaN,NaN,45.0,37.0,NaN,40.0,31.0,35.0
379,match 38,70,38.0,NaN,NaN,64,NaN,56,52.0,NaN,...,45.0,47.0,NaN,NaN,45.0,37.0,NaN,43.0,31.0,36.0